/* ----------------------- */
/* Reset                   */
/* ----------------------- */

/* Box sizing */
*,
*::before,
*:after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}



/* ----------------------- */
/* Typography              */
/* ----------------------- */

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #293264;
}

/* Start */

.start {
    text-align: center;
}

.start-title {
    font-family: 'Karla', sans-serif;
    font-size: 1.953125rem;
}

.start-description {
    font-weight: 400;
}

.btn {
    color: #F5F7FB;
}

.btn-start {
    font-weight: 500;
}

/* Questions */

.answer {
    font-size: 0.64rem;
    font-weight: 500;
}

.answer-completed {
    opacity: .5;
}

.questions-results {
    font-size: 0.8rem;
}

.btn-question {
    font-weight: 600;
    font-size: 0.64rem;
}


/* ----------------------- */
/* Layout                  */
/* ----------------------- */

.container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

/* Start */

.start-description {
    margin: .5em 0 1.5em;
}

.btn {
    cursor: pointer;
    background: #4D5B9E;
    border: none;
}

.btn-start {
    padding: .8em 3em;
    border-radius: 15px;
}


/* Questions */

.questions {
    max-width: 450px;
}

.question {
    border-bottom: 0.79px solid #DBDEF0;
    padding-block: 1em;
}

.question-title {
    margin-bottom: .6em;
}

.questions-bottom {
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.btn-question {
    padding: .7em 2.5em;
    border-radius: 10px;
}

.answers {
    display: flex;
    flex-wrap: wrap;
    gap: .6em;
}

.answer {
    border: .77px solid #4D5B9E;
    border-radius: 7.71px;
    padding: .1em 1em;
    cursor: pointer;
}

.correct-answer, .incorrect-answer {
    border: 'none';    
}

.correct-answer {
    background: #94D7A2;
}

.incorrect-answer {
    background: #F8BCBC;
}

.selected-answer {
    background: #D6DBF5;
}

/* Loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #293264;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
